

<div class="pt-4 pb-4"><app-header class="header-text-black"></app-header></div>
<section>
    <div class="container pl-5 pr-5">
      <div class="row">
        <div class="col-sm-3 pl-4">
            <p class="small">Everything we can do<br>
                to help you and make <br>
                your life easier!</p>
            
                <input type="checkbox">
                <span class="ml-2 small">
                    I'd prefer you to call me
                </span><br>
                <input type="checkbox">
                <span class="ml-2 small">
                    I'd prefer you to email me
                </span><br>
                <br>
<p class="small">
    Fill in your details click the<br>
     communication you would<br>
      prefer and we'll be in touch.<br>
    </p>
<p class="small">
    If you prefer you can contact<br>
    David's Personal assistant:<br>
    Nada on<br>
    +61 2 8399 3333 or<br>
    email: Nada@DCB.com.au

</p>

            <div class="pt-2">
                <img src="../../../assets/DCB Web Logos/Facebook.png" class="h-25 w-25">
                <img src="../../../assets/DCB Web Logos/Instagram.jpeg" style="width:95px">
                <img src="../../../assets/DCB Web Logos/linked in.jpeg" class="h-25 w-25">
            </div>
      </div>

        <div class="col-sm-4">
            <div class="container contact-form">
                <form class="form-group">
                   
                        <input type="text" placeholder="Name:" class="form-control form-control-sm">
                     
                        <input type="email" placeholder="Email:" class="form-control form-control-sm email">
                        <input type="text" placeholder="Contact no:" class="form-control form-control-sm mb-2">
                        <div class="pb-2">
                        <textarea class="form-control form-control-sm pb-1" placeholder="Address:" rows="3" ></textarea>
                    </div>
                        <textarea class="form-control form-control-sm p-1" placeholder="Message:" rows="5" ></textarea>

                        

                    </form>
                    <p class="small">David Campbell Building Pty Ltd<br>
                    11U 175 Lower Gibbes Street Chatswood NSW 2067<br>
                ABN: 1234567-Builders Licence # 1234567<br>
            +61 2 8399 3333</p>
                </div>
        </div>
        <div class="col-sm-5 pr-5">
            <img src="../../../assets/images/contact-image.png" class="h-100 w-100">
                    </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    </div>
</section>
<div class="pr-5 pt-4">
<app-footer></app-footer>
</div>