<div class="pt-3 pb-2">
        <app-header class="header-text-black"></app-header>
    </div>
        <section class=" container">
              <div class="row h-75" style="height:420px; overflow:auto;" >
                <div class="col-sm-12 h-100" style="background-image: url('../../../assets/images/interior2.jpg'); background-size: cover">
               
                    <div class="row pt-2 h-100">
                    <div class="col-sm-4 text-white pt-5 h-100">
                        <p class="small nahb-text  ">
                                Cataldo Builders - E. Falmouth, MÅ.<br>
                                Compo Inc - Novi' MI.<br>
                                Denman Construction - Whitefish, MT.<br>
                                Buffington Homes - Johns Island, SC.<br>
                                Ellis Custom Homes - College Station, TX.<br>
                                TM O'Grady - Luguna, CA.<br>
                                David Campbell Buil<br>
                                Sydney AUS<br>
                                Hardwick GC<br>
                                G Little - P" T" _od,<br>
                                Olsen Custom<br>
                                mes - Dayton<br>
                                Ilders - Cabin John<br>
                        </p>
                    </div>
                    <div class="col-sm-4 text-white pt-5  h-100">
                        <p class="small nahb-text">
                                Schneider Custom Builders - Norfolk<br>
                                Matt Sitra Homes - Austin, TX.<br>
                                The Troxel Company - Holland, MI.<br>
                                Providence Homes Inc - Arlington, TX.<br>
                                Augusta Homes - Cornelius NC.<br>
                                Home Source Builders - Asheville, NC. •<br>
                                Baud Guilders- Wakefield, RI.<br>
                                Ed Nikles - Milfford, PA.<br>
                        </p>
                    </div>

                    <div class="col-sm-4  h-75">
                        <p class="small Association h-75 pt-2" >
                               <strong>The National "Association of Home Builders<br>
                                men Builder 20 Clubs</strong><br><br>
                                David has been an active member of the<br>
                                prestigious NAHB since 2013 and the only<br>
                                member represented in Australia.<br>
                                Within the NAHB is The Builder 20 Club,<br>
                                made up of some of the finest builders from<br>
                                around America.<br>
                                The Builder 20 CIOb meet twice a year an<br>
                                discuss all matters of business in the building<br>
                                industry. They critique; dnalyse and consult<br>
                                on all aspects'of DCB's building businuss.<br>
                               
                        </p>
                    
                        <img src="../../../assets/DCB Web Logos/nahb-1.png"class=" w-75 pt-2 pl-2" >
                
                    </div>

                </div>
                 </div>
                    
            </div>
            <div class="row pt-3">
                <div class="col-sm-5"></div>
                <!-- <div class="col-sm-1 border"></div> -->

                <div class="col-sm-7">
                    
                    <img src="../../../assets/DCB Web Logos/MBA NSW.png" class="ml-4 mr-2" height="60px">
                    <img src="../../../assets/DCB Web Logos/HIA_Logo.png" class="ml-4 mr-2" width="40px" height="50px">
                    <img src="../../../assets/DCB Web Logos/houzz master.png" class="ml-4 mr-2" width="55px" height="50px" >
                    <img src="../../../assets/DCB Web Logos/Control 4 no bg 2.png" class="ml-4" width="140px"  >


                </div>
            </div>
        </section>
        <section>
            <!-- <div class="row">
                <div class="col-sm-8">
                    <div class="row">

                    </div>
                    
                </div>
                <div class="col-sm-4"></div>

            </div>
        </section> -->
        <div class="pr-4 pt-3">
        <app-footer></app-footer>
    </div>