
        <section class="container pl-5 pr-5">
            <div class="row">
                <div class="col-sm-4 offset-1">
              </div>
              <div class="col-sm-5 offset-2 pb-4">
                  <p class="text small"><strong>Architects</strong></p>
                </div>
            </div>
             <div class="row pl-5 pr-5 h-100">
                <div class="col-sm-7">
                  <img src="../../../../assets/images/architects.png" class="image-responsive h-100 w-100">
                </div>
                <div class="col-sm-5">
                  <p class="small">
                      Most profssional architects are worth the ime±ment. they<br>
                      are very good at designing indMiduaI client requirements.<br>
                      personalised scope of works, a schedule of finishes and<br>
                      detailed specifcations.<br>
                      This is what we as professional builders need to allcnv us to<br>
                      prcvide accurate pricing in advance which minimises changes<br>
                      and<br>
                      Architects are neither builders nor estimators.<br>
                      They can only give you a guide using historical prices for<br>
                      their designs. ONLY f the project is recent and very similar<br>
                      Trust your professional builder to provide accurate pricing<br>
                      with backup data alternative selections if available.<br>
                    
                  </p>
                </div>
        
             </div> 
            
        </section>
