@media screen and (max-width: 400px) {
    .footer {
        font-size: 12px;
    }
    }
    @media screen and (max-width: 412px) {
     strong {
            margin-left:20px !important;
        }
    }
    @media screen and (max-width:767px) {
       .title {

        padding:0px !important;
        margin-left: -37px !important;

       }
       .text {
           margin-top:10px !important
       }
    }
    section {
        height: 400px !important;
        margin-top:75px !important
    }
    .img {
        height:100% !important;
    }
    @media screen and (max-width:1200px) {
         .row {
            margin:0px !important;
            padding:0px !important;
        }
       
    }
    @media screen and (max-width:992px) {
        
   section {
       margin-top: 0px !important;
   }
   }
   @media screen and (width:1024px) and (height:1366px) {
        
    strong {
        margin-left: 25px;
    }
    }