<section id="page">
        <ul class="cb-slideshow">
                <li><span></span><div></div></li>
                <li><span id="abc">ghdfsgfd</span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
                <li><span></span><div></div></li>
            </ul>
<div class="pt-4 pb-4">
<app-header class="headerwhite"></app-header>
</div>
</section>
<section class="container footer">
<app-footer></app-footer>

</section>
