<div class="container py-4 header">
        <app-header></app-header>
</div>
<div *ngIf="page === 'cottagepoint'" class="container-fluid px-0" style="background-color: transparent;">
                <div  id="carouselExampleControls" class="carousel slide h-50 carousel-fade" data-interval="2000" data-pause="none" data-ride="carousel">
                               
                        <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                        <div style="background: url(/assets/images/12-DCB-P&T-1.jpg) no-repeat center center fixed; 
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover"
                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                <div></div>
                                        </div>
        
                                </div>
                                <div class="carousel-item">
                                        <div style="background: url(/assets/images/13-DCB-P&T-1.jpg) no-repeat center center fixed; 
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover"
                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                <div></div>
                                        </div>
                                </div>
                                <div class="carousel-item" data-interval="1700">
                                        <div style="background: url(/assets/images/14-DCB-P&T-1.jpg) no-repeat center center fixed; 
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover"
                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                <div></div>
                                        </div>
        
                                </div>
                                <div class="carousel-item" data-interval="8000">
                                        <div style="background:  no-repeat center center fixed; 
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover"
                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                <p class="text-dark small animated fadeIn delay-1s">
                                                       "Team DCB are a high quality organisation that can deliver on
                                                                any proiect,<br>
                                                                no matter the size or the complexity. The team are capable and
                                                                motivated,<br>
                                                                with a passion for customer satisfaction.<br>
                                                                Strong proiect management skills and attention to detail, ensure
                                                                steady progress<br>
                                                                throughout the build period.<br>
                                                                A happy team, supported by dedicated leadership, will go above
                                                                and beyond<br>
                                                                to deliver proiects that will exceed customer expectation in
                                                                every area.<br>
                                                                Team DCB partner closely with the customer to deliver
                                                                transformational projects<br>
                                                                - their vision and drive, together with high quality
                                                                craftsmanship across every<br>
                                                                trade, make them a building firm of choice."<br>
                                                                Gavin<br>
                                                       
                                                </p>
                                        </div>
                                </div>
                               
                        </div>
                        
                </div>
        </div>
        

        <div *ngIf="page === 'castlecrag'" class="container-fluid px-0" style="background-color: transparent;">
                        <div  id="carouselExampleControls" class="carousel slide h-50 carousel-fade" data-interval="2000" data-pause="none" data-ride="carousel">
                               
                                        <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                        <div style="background: url(/assets/images/16-DCB-proj-2-Seed.jpg) no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <div></div>
                                                        </div>
                        
                                                </div>
                                                <div class="carousel-item">
                                                        <div style="background: url(/assets/images/17-DCB-proj-2.jpg) no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <div></div>
                                                        </div>
                                                </div>
                                                <div class="carousel-item" data-interval="1700">
                                                        <div style="background: url(/assets/images/18-DCB-proj-2.jpg) no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <div></div>
                                                        </div>
                        
                                                </div>
                                                <div class="carousel-item">
                                                                <div style="background: url(/assets/images/19-DCB-proj-2.jpg) no-repeat center center fixed; 
                                                                -webkit-background-size: cover;
                                                                -moz-background-size: cover;
                                                                -o-background-size: cover;
                                                                background-size: cover"
                                                                        class="d-flex align-items-center justify-content-center min-vh-100">
                                                                        <div></div>
                                                                </div>
                                                        </div>
                                                        <div class="carousel-item" >
                                                                <div style="background: url(/assets/images/20-DCB-proj-2.jpg) no-repeat center center fixed; 
                                                                -webkit-background-size: cover;
                                                                -moz-background-size: cover;
                                                                -o-background-size: cover;
                                                                background-size: cover"
                                                                        class="d-flex align-items-center justify-content-center min-vh-100">
                                                                        <div></div>
                                                                </div>
                                
                                                        </div>
                                                        <div class="carousel-item" data-interval="1700">
                                                                        <div style="background: url(/assets/images/21-DCB-proj-2-0.jpg) no-repeat center center fixed; 
                                                                        -webkit-background-size: cover;
                                                                        -moz-background-size: cover;
                                                                        -o-background-size: cover;
                                                                        background-size: cover"
                                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                                <div></div>
                                                                        </div>
                                                                </div>
                                                               
                                                <div class="carousel-item" data-interval="8000">
                                                        <div style="background: no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <p class="text-dark small animated fadeIn delay-1s">
                                                                                "When we embarked upon the renovation journey, all anyone could say
                                                                                 was<br>
                                                                                 how stressful it would be.<br>
                                                                                 It wasn't. That is a testament to your organisation, attention and
                                                                                 meticulously<br>
                                                                                 thought out approach. You were always one step ahead to ensure we
                                                                                 didn't<br>
                                                                                 have those "Oh nol" moments. You seamlessly co-ordinated so many
                                                                                 different<br>
                                                                                 trades simultaneously and this distinguishes you as a real custom home
                                                                                 builder"<br>
                                                                                 Peter - Forestville<br>
                                                                       
                                                                         </p>
                                                        </div>
                                                </div>
                                               
                                        </div>
                                        
                                </div>
        </div>

        <div *ngIf="page === 'lanecove'" class="container-fluid px-0" style="background-color: transparent;">
                        <div  id="carouselExampleControls" class="carousel slide h-50 carousel-fade" data-interval="2000" data-pause="none" data-ride="carousel">
                                       
                                <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                                <div style="background: url(/assets/images/23-DCB-proj-3.jpg) no-repeat center center fixed; 
                                                -webkit-background-size: cover;
                                                -moz-background-size: cover;
                                                -o-background-size: cover;
                                                background-size: cover"
                                                        class="d-flex align-items-center justify-content-center min-vh-100">
                                                        <div></div>
                                                </div>
                
                                        </div>
                                        <div class="carousel-item" data-interval="1700">
                                                <div style="background: url(/assets/images/24-DCB-proj-3-0.jpg) no-repeat center center fixed; 
                                                -webkit-background-size: cover;
                                                -moz-background-size: cover;
                                                -o-background-size: cover;
                                                background-size: cover"
                                                        class="d-flex align-items-center justify-content-center min-vh-100">
                                                        <div></div>
                                                </div>
                                        </div>
                                      
                                        <div class="carousel-item" data-interval="8000">
                                                <div style="background:  no-repeat center center fixed; 
                                                -webkit-background-size: cover;
                                                -moz-background-size: cover;
                                                -o-background-size: cover;
                                                background-size: cover"
                                                        class="d-flex align-items-center justify-content-center min-vh-100">
                                                        <p class="text-dark small animated fadeIn delay-1s">
                                                                        "We could not be happier with the outcome.<br>
                                                                         Our new home is magnificient and the quality<br>
                                                                         of final product is outstanding"<br>
                                                                         Mark-Lane-Cove<br>
                                                                 
                                                                 </p>
                                                </div>
                                        </div>
                                       
                                </div>
                                
                        </div>
                </div>

                <div *ngIf="page === 'woollahra'" class="container-fluid px-0" style="background-color: transparent;">
                                <div  id="carouselExampleControls" class="carousel slide h-50 carousel-fade" data-interval="2000" data-pause="none" data-ride="carousel">
                                               
                                        <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                        <div style="background: url(/assets/images/26-DCB-proj-4.jpg) no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <div></div>
                                                        </div>
                        
                                                </div>
                                                <div class="carousel-item">
                                                        <div style="background: url(/assets/images/27-DCB-P&T-4-0.jpg) no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <div></div>
                                                        </div>
                                                </div>
                                              
                                                <div class="carousel-item" data-interval="8000">
                                                        <div style="background:  no-repeat center center fixed; 
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover"
                                                                class="d-flex align-items-center justify-content-center min-vh-100">
                                                                <p class="text-dark small animated fadeIn delay-1s">
                                                                                "Team DCB are a high quality organisation that can deliver on
                                                                                         any proiect,<br>
                                                                                         no matter the size or the complexity. The team are capable and
                                                                                         motivated,<br>
                                                                                         with a passion for customer satisfaction.<br>
                                                                                         Strong proiect management skills and attention to detail, ensure
                                                                                         steady progress<br>
                                                                                         throughout the build period.<br>
                                                                                         A happy team, supported by dedicated leadership, will go above
                                                                                         and beyond<br>
                                                                                         to deliver proiects that will exceed customer expectation in
                                                                                         every area.<br>
                                                                                         Team DCB partner closely with the customer to deliver
                                                                                         transformational projects<br>
                                                                                         - their vision and drive, together with high quality
                                                                                         craftsmanship across every<br>
                                                                                         trade, make them a building firm of choice."<br>
                                                                                         Gavin<br>
                                                                                
                                                                         </p>
                                                        </div>
                                                </div>
                                               
                                        </div>
                                        
                                </div>
                        </div>