<nav class="navbar container navbar-expand-lg navbar-light bg-light main ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link headerwhite" routerLink="/home" routerLinkActive="active">HOME</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">ABOUT US <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link projects-link" routerLink="/projects" routerLinkActive="active">PROJECTS & TESTIMONIALS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/interior" routerLinkActive="active">INTERIORS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FACTS 
        </a> 
        <div class="dropdown-menu" aria-label ledby="navbarDropdown">
          <a class="dropdown-item small" routerLink="/facts/beforebuilding" routerLinkActive="active">Before building</a>
          <a class="dropdown-item small" routerLink="/facts/cdc" routerLinkActive="active" *ngIf="path === '/facts/housekeeping'">DA/CDC</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item small" routerLink="/facts/architects" routerLinkActive="active">Architects</a>
          <a class="dropdown-item small" routerLink="/facts/timetoconsider" routerLinkActive="active">Timing to consider</a>
          <a class="dropdown-item small" routerLink="/facts/expensestoconsider" routerLinkActive="active">Expenses to consider</a>
          <a class="dropdown-item small" routerLink="/facts/housekeeping" routerLinkActive="active">HouseKeeping</a>
          <a class="dropdown-item small" routerLink="/facts/alterations" routerLinkActive="active">Alterations & additions</a>



        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active" *ngIf="path !== '/nahb'">THE TEAM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/nahb" routerLinkActive="active">NAHB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 text-capitalize" type="submit">join us</button>
    </form> -->
  
  </div>
</nav>