<div class="pt-4 pb-3">
<app-header></app-header>
</div>
<section class="container pl-5 pr-5 h-75">
     <div class="row h-100 w-100">
       
        <div class="col-sm-5 h-100">
          <img src="../../../assets/images/croped demo.png" class=" h-100 w-100">
        </div>
                    <div class="col-sm-7 h-100 ">
                      <div class="pt-5 pb-5 h-100 ">
                      <p class="small about-text h-100 ">David Capmbell<br>
                        David Campbell heralds from entrepreneurial blood<br>
                        his 3rd Great<br>
                        Grandfather, Robert Campbell, was Australia's original merchant in<br>
                        Campbell & Co.<br>
                        David, a carpenter by trade, is passionate about creating buildings<br>
                        of exceptional quality and durability.<br>
                        He hos pioneered his very own site management software which hos<br>
                        been downloaded by tens of thousands of users from all around the<br>
                        world.<br>
                        David is the President of the Manly division of (MBA) Master guilders<br>
                        Association and a member of (HIA) the Housing Industry of Australia.<br>
                        He is also a member of the prestigious Notional Association of<br>
                        Home Builders (NAHB) in the U.S.<br>
                        "David is committed to the industry and is constantly searching for<br>
                        new innovations and best building practices. He travels to the United<br>
                        States multiple times a year and is active in professional housing<br>
                        associations. The bestl"<br>
                        Buffington Homes - South Carolina<br>

                      </p>
                      </div>
                    </div>
            
                 </div> 
                
            </section>
            <app-footer></app-footer>
            