<section class="container">
    <div class="row pr-4">
        <div class="col-sm-4 offset-4">
      </div>
      <div class="col-sm-4 pb-4">
          <p class="text small"><strong> Expenses to consider</strong></p>
        </div>
    </div>
     <!-- <div class="row h-100">
        <div class="col-sm-7 offset-1">
          <img src="../../../../assets/images/expensestoconsider.png" class="image-responsive h-100">
        </div>
        <div class="col-sm-3">
          <p class=" text small">David Capmbell<br>
            Director<br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
             Lorem Ipsum has been the industry's standard dummy text ever since the,<br>
              when an unknown printer took a galley of type and scrambled<br>
               it to make a type specimen book.<br>
          </p>
        </div>

     </div>  -->
     <div class="row pl-5 pr-5" style="height: 390px; overflow: auto;">
        <div class="col-sm-8  h-100">
          <img src="../../../../assets/images/expensestoconsider.png" class="h-100 w-100">
        </div>
        <div class="col-sm-4">
          <p class="text small">
              You will need to pay a Long SeNice Leave Levy<br>
              If you do not have good accurate drawings and<br>
              documentation to build the project at the start of<br>
              pour building process. i-t will cost you additional<br>
              money ard everpne more time after a project<br>
              is underway.<br>
              This is why the irvestmerrt in a good architect<br>
              with detailed plans is so important. Remember the<br>
              7 oflife?<br>
          </p>
        </div>

     </div> 
    
</section>