<section class="container w-100 pt-4">
    <div class="row pr-4 pt-3">
        <div class="col-md-4 offset-4">
      </div>
      <div class="col-md-4">
          <p class="text small title"><strong> Expenses to consider</strong></p>
        </div>
    </div>
     <!-- <div class="row h-100">
        <div class="col-sm-7 offset-1">
          <img src="../../../../assets/images/expensestoconsider.png" class="image-responsive h-100">
        </div>
        <div class="col-sm-3">
          <p class=" text small">David Capmbell<br>
            Director<br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
             Lorem Ipsum has been the industry's standard dummy text ever since the,<br>
              when an unknown printer took a galley of type and scrambled<br>
               it to make a type specimen book.<br>
          </p>
        </div>

     </div>  -->
     <div class="row pl-5 pr-5 h-100 pt-3">
        <div class="col-md-8  h-100">
          <img src="../../../../assets/images/expensestoconsider.png" class=" img h-100 w-100 pl-4">
        </div>
        <div class="col-md-4 h-50">
          <p class="text small expense-text">
              You will need to pay a <strong>Long Service Leave Levy</strong><br>
              If you do not have good accurate drawings and<br>
              documentation to build the project at the start of<br>
              your building process, it will cost you additional<br>
              money and everyone more time after a project<br>
              is underway.<br>
              This is why the investment in a good architect<br>
              with detailed plans is so important. Remember the<br>
              7 "P's" of life?<br>
          </p>
        </div>

     </div> 
    
</section>
<!-- <div class="pt-5 mt-5 footer mr-5">
    <app-footer></app-footer>
    </div> -->