<section>
        <img class="img-bg" src="../../../assets/37 DCB  Log In-01.jpeg" alt="loading">
        <div class="pt-4 pb-4">
        <app-header></app-header>
</div>
</section>
<section class="container-fluid login">
    <div class="row text-white">
        <div class="col-sm-4 col-md-4 col-lg-4 m-auto d-block"></div>
           
        <div class="col-sm-4 col-md-4 col-lg-4 m-auto d-block">
            <div class="container main-login">
               <form class="form-group">
                   
                   <input type="text" placeholder="Name:" class="form-control form-control-sm">
                
                   <input type="email" placeholder="Email:" class="form-control email form-control-sm">
                   <input type="password" placeholder="Password:" class="form-control form-control-sm mb-2">
                   <!-- <button class="btn btn-block btn-md btn-success">LOGIN</button> -->
               </form>
            </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 m-auto d-block"></div>
                   
    </div>
    <!-- <div class="footer">
<app-footer></app-footer>
</div> -->
</section>