<section class="header pt-4 pb-3">
<app-header class="header-text-black"></app-header>
</section>
<section class=" container aboutus1 h-100 pl-5 pr-5">
      <div class="row h-100 pl-3 pr-5 img ">
        <div class="col-sm-12 col-md-12 col-lg-12 h-100 w-100 column-1">
          <div class="col-sm-12 col-md-12 col-lg-12 h-100 text-white text-small animated flipInY slower ">
              <p class="pt-5 mt-4 small about-text h-100">
                David Campbell Building Pty Ltd (PCB)<br>
                specialise in The construction of<br>
                designed residential<br>
                buildings, ext ns ns, renovations: gnd!<br>
                interiors.<br>
                OCB was established i n 1999 by ner<br>
                and Director, David Campbell.<br>
                David has always maintained a principled<br>
                approach to business "Trust and tradition"<br>
                and has invested in employing the best<br>
                team of skillÅd tradesman within bCB.<br>
                We cover every aspect of the building<br>
                process, .dolivering a consist<br>
                at<br>
                cohesive resylt.<br>
                OCB was MOA 2019 *Vilder.f The<br>
                Excellence in Housin Awar s.<br><br><br><br><br><br>
               
                

              </p>
          </div>
          
        </div>
        
    </div>
</section>
<!-- <div class="footer pr-5 pt-3">
<app-footer></app-footer>
</div> -->
