<section class="container">
    <div class="row pl-5 pr-5">
        <div class="col-md-9">
      </div>
      <div class="col-md-3 pb-3">
          <p class="text small"><strong>Altrations and additions</strong></p>
        </div>
    </div>
     <div class="row h-100 pl-5 pr-5">
        <div class="col-md-9 col-sm-12 h-100">
          <img src="../../../../assets/images/alterations.png" class="img h-100 w-100 pl-4">
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 h-75">
          <p class="text small alteration-text">
              For alterations and additions, you<br>
              generally will need to mowe out<br>
              for a period of time, it will greatly<br>
              speed up the process and save<br>
              us all time and money.<br>
              DCB will always be available for<br>
              you make the building process<br>
              a pleasurable experience so that<br>
              you will invite us to the party at<br>
              the end! That will be the greatest<br>
              compliment to us!<br>
          </p>
        </div>

     </div> 
    
</section>
<!-- <div class="pt-5 mt-5 footer mr-5">
    <app-footer></app-footer>
    </div> -->