/* You can add global styles to this file, and also import other style files */
*{
    /* font-family: 'Chivo', sans-serif; */
    font-family: '33535gillsansmt' !important;
    margin:0px;
    padding: 0px;
}
@font-face {
	font-family: '33535gillsansmt';
	src: url('./assets/css/33535gillsansmt.eot');
	src: local('33535gillsansmt'), url('./assets/css/33535gillsansmt.woff') format('woff'), url('./assets/css/33535gillsansmt.ttf') format('truetype');
}

  @media screen and (max-width: 1024px) { 
    .col { 
        margin-right: 100px !important  
     }
}
@media screen and (max-width: 468px) and (min-width:368px) {
    .footer {
        font-size: 13px;
        padding:0px !important;
        margin: 0px !important;
    }
    }
    @media screen and (max-width:368px) {
        .footer {
            font-size: 11px;
            padding:0px !important;
            margin: 0px !important;
        }
        }

  app-project .navbar-nav .nav-link{
    /* color: white */
  }
  app-project .footer-text{
    color: white !important;
  }
  app-login .navbar-nav .nav-link{
    color: white !important;
  }
  app-login .footer-text{
    color: white !important;
  }
  app-interior .navbar-nav .nav-link{
    color: white !important;
  }
  app-project .active {
    font-weight: bolder !important;
  }

  app-project .navbar-nav .project-link{
    color:rgb(243, 243, 16) !important;
}

 /* app-project .nav-link{
    -webkit-animation-name: header; 
    -webkit-animation-duration: 2.5s;
    animation-name: header;
    animation-duration: 52s;
    animation-iteration-count:infinite;
  }
  
  @-webkit-keyframes header {
    0%   {color: white;}
    5%   {color: white;}
    10%   {color: white}
    15%   {color: black;}
   
    18%   {color: black;}
    23%   {color: black;}
    26%  {color: white;}
    30%  {color: white;}
    35%  {color: white;}
    40%  {color: white;}
    45%  {color: white;}
    52%  {color:black;}
    53%  {color: black;}
    60%  {color: black;}
    65%  {color: white;}
    70%  {color: white;}
    73% {color: white;}
    80% {color: black;}
    87% {color: black;}
    90% {color: black;}
    95% {color: white;}
    100% {color: white;}
  } */

  /* app-interior .navbar-nav .nav-link{
    -webkit-animation-name: interiorheader; 
    -webkit-animation-duration: 4s; 
    animation-name: interiorheader;
    animation-duration: 16s;
    animation-iteration-count:infinite;
  }
  
  @-webkit-keyframes interiorheader {
    0%   {color: white;}
    25%  {color: white;}
    50%  {color: white;}
    55%  {color: white;}
    60%  {color: white;}
    65%  {color: white;}
    70%  {color: black;}
    75% {color: black;}
    100% {color: black;}
   
  } */
  app-project .footer-text{
    -webkit-animation-name: footer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: footer;
    animation-duration: 104s;
    animation-iteration-count:infinite;
  }
  
  @-webkit-keyframes footer {
    0%   {color: white;}
    5%   {color: white;}
    10%   {color: black;}
    15%   {color: white;}
    20%   {color:white;}
    25%  {color: white;}
    30%  {color: black;}
    35%  {color: white;}
    40%  {color: white;}
    45%  {color: white;}
    50%  {color: white;}
    55%  {color: white;}
    60%  {color: white;}
    65%  {color: white;}
    70%  {color: white;}
    75% {color: white;}
    80% {color: white;}

  }
  /* app-project .project-link {
    -webkit-animation-name: projectlink;
    -webkit-animation-duration: 3s; 
    animation-name: projectlink ;
    animation-duration: 52s ;
    animation-iteration-count:infinite;
  }
  
  @-webkit-keyframes projectlink {
    0%   {color: yellow;}
    5%   {color: yellow;}
    10%   {color: yellow;}
    15%   {color: black;}
   
    18%   {color: black;}
    23%   {color: black;}
    26%  {color: yellow;}
    30%  {color: yellow;}
    35%  {color: yellow;}
    40%  {color: yellow;}
    45%  {color: yellow;}
    52%  {color:black;}
    53%  {color: black;}
    60%  {color: black;}
    65%  {color: yellow;}
    70%  {color: yellow;}
    73% {color: yellow;}
    80% {color: black;}
    87% {color: black;}
    90% {color: black;}
    95% {color: yellow;}
    100% {color: yellow;}
  } */

  app-nahb .navbar-nav .nav-link{
    padding-left: 10px !important;
  }
  
  app-interior .navbar {
    margin-left:70px !important
  }

  app-project .navbar {
    margin-left:70px !important
  }
  app-project .navbar-nav .nav-item {
    padding: 0px 32px 0px 32px !important;
      
    }
    app-interior .navbar-nav .nav-item {
      padding: 0px 28px 0px 28px !important;
        
      }

  app-facts .navbar-nav .nav-item {
  padding: 0px 26px 0px 26px;
    
  }
  
  app-interior .navbar-nav .nav-link {
    color :black !important
  }
